.my-course-container-content{
    .my-course-container-filter{
        margin: 0px auto;
    }
    .mycourse-header-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            @include font($body-color,30px,400,38px);
            margin-bottom: 10px;
        }
        button{
            background: $fliter-active;
            border: 1px solid $fliter-active;
            border-radius: 5px;
            @include font($white,13px,400,20px);
            padding: 0 10px;
        }
    }
    .filter-content-quantity{
        margin-bottom: 27px;
        .filter-text-number{
            min-height: 135px;
            padding: 20px;
            background: $white;
            border: 1px solid $light-green;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.filter-courses{
                border: 1px solid #00DF76; 
            }
            &.filter-earning{
                border: 1px solid #9C4DF4;
            }
            &.filter-review{
                border: 1px solid #EE9849;
            }
            p{
                @include font($body-color,16px,500,20px);
                &:last-child{
                    @include font($body-color,40px,500,20px);
                    text-align: right;
                }
            }
        }
    }    
}

.my-course-container{
    .my-course-content{
        margin: 0px auto;
        .my-course-details{
            // border: 1px solid red;
            .my-course-detils-page{
                background: $white;
                border-radius: 15px;
                padding: 23px 14px;
                margin: 0 0 30px;
                // border: 1px solid green;
            }
            .my-course-details-left{
                width: 50%;
                h3{
                    @include font($body-color,25px,400,32px);
                }
                p{
                    @include font($body-color,18px,400,23px);
                }
            }
            .my-course-details-right{
                width: 50%;
                text-align: right;
                img{
                    max-width: 140px;
                }
            }
            &-content{
                display: flex;
                justify-content: space-between;
            }
            .my-course-middle{
                display: flex;
                align-items: center;
                margin-top: 20px;
                .my-course-initials{
                    span{
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        display: inline-block;
                        background-color: $light-yellow;
                        color: $black;
                        text-align: center;
                        padding: 8px;
                        &:nth-child(2){
                            background-color: $light-red;
                            margin-right: 50px;
                            margin-left: -13px;
                        }
                    }
                }
            }
            .my-course-button{
                button{
                    @include font($white,13px,700,20px);
                    padding: 6px 22px;
                    background-color: $light-green;
                    border-radius: 5px;
                    margin-top: 30px;
                    &:nth-child(1){
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
