$body-bg: #F7F5FA;
$body-color : #0A033C;
$white : #ffffff;
$black : #000000;
$light-green: #8DB600;
$body-text: #5D5A6F;
$btn-active: #FF6652;
$light-black: #383932;
$text-border: #DEDDE4;
$border-grey: #777777;
$text-grey: #A4A4A4;
$help-bg: #383932;
$danger-color: #ff3b30;
$info-color: #2CA8FF;
$mercury: #e5e5e5;
$success-color: #05AE0E;
$light-yellow: #FFB54A;
$light-red: #CC6144;
$dark-red: #F81616;
$fliter-active: #E86E2D;
$red: #FF0000;
$grey: #EBEBEB;
$grey-bg: #EDEDED;
$border: #BBBBBB;

@mixin font($color,$size,$weight,$height) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}


